@mixin info($font-size) {
  font-size: $font-size;
  user-select: none;
  transition: all 1s;
}

@mixin flex($justify-content, $align-items, $direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}