$gradient-colors-orange: #EE7752;
$gradient-colors-red: #E73C7E;
$gradient-colors-blue: #23A6D5;
$gradient-colors-green: #23D5AB;
$white: #fff;
$border-color:rgba(190, 182, 182, 0.3);
$checkbox-color-hover:rgba(190, 182, 182, 0.2);
$aside-menu-color: rgba(32, 32, 32, 0.9);